<h4>Formulario <small>Empleado</small></h4>
<hr>
<form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">

  <div class="container">

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre Completo</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               formControlName="fullname"
               [class.is-invalid]="nombreNoValido"
               [(ngModel)]="employee.fullname">
        <small class="text-danger" *ngIf="nombreNoValido">Ingrese al menos 5 letras</small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Cargo</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Funcion"
               formControlName="empfunct"
               [class.is-invalid]="funNoValido"
               [(ngModel)]="employee.empfunct">
        <small class="text-danger" *ngIf="funNoValido">Ingrese al menos 3 letras</small>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-primary">
        Guardar
      </button>
    </div>
  </div>



</form>

<div class="row">
  <button type="submit" class="btn btn-primary col-12" (click)="searchAllEmployees()">
    Enlistar todos los empleados
  </button>
  &nbsp;
  <button type="submit" class="btn btn-danger col-12" (click)="clean()">
    Limpiar lista
  </button>

</div>

<div class="row">
  <div class="col">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Id</th>
          <th>Fullname</th>
          <th>Employee function</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of employees">
          <td>{{e.id}}</td>
          <td>{{e.fullname}}</td>
          <td>{{e.function}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
